<div class="flex gap-2 border-solid border-gray-700 border-y border-x-0 p-4">
  <div class="size-10 text-center p-2 aspect-square rounded-full bg-sky-500">
    D
  </div>
  <div class="flex-grow">
    <form>
      <textarea
        class="outline-0 border-0 border-b focus:border-sky-500 text-xl w-full resize-none"
        placeholder="Escribe lo que piensas"
      ></textarea>
      <div class="text-sky-500 flex gap-2 items-center">
        <i class="pi pi-globe"></i>
        <span class="text-sm font-bold">Todos pueden responder</span>
      </div>

      <button
        class="block ml-auto px-4 py-2 font-bold text-base bg-sky-500 hover:bg-sky-600 border-0 rounded-full"
        type="submit"
      >
        Publicar
      </button>
    </form>
  </div>
</div>
